cargo-features = ["profile-rustflags"]

[package]
name = "smalloc"
version = "6.0.1"
edition = "2024"

[dependencies]
ahash = "0.8.11"
rand = "0.9.0"
thousands = "0.2.0"

[dev-dependencies]
cargo-nextest = "0.9.96"
tango-bench = "0.6.0"
# tango-bench = { version = "1.0.0", path="../tango/tango-bench" }

[target.'cfg(target_vendor="apple")'.dependencies]
mach-sys = "0.5"

[target.'cfg(target_os = "linux")'.dependencies]
rustix = { version = "1.0.7", features = ["mm"] }

[lib]
name = "smalloc"

[profile.release]
opt-level = 3
debug = false
codegen-units = 1
# lto = "fat" # This causes segfaults etc on linux in benchmarks, probably because of the way tango dynamically loads code to be benchmarked
debug-assertions = false
overflow-checks = false
rustflags = ["-C", "target-cpu=native"]

[profile.profiling]
inherits = "release"
debug = true
lto = false
# split-debuginfo = "packed" # ??? do we want this?

[[bench]]
name = "smallocb"
harness = false

