cargo-features = ["profile-rustflags"]

[package]
name = "smalloc"
version = "6.0.1"
edition = "2024"

[dependencies]
ahash = "0.8.11"
libc = "0.2.177"
rand = "0.9.0"
thousands = "0.2.0"
wyhash = "0.6.0"
wyrand = "0.3.2"

[dev-dependencies]
cargo-nextest = "0.9.96"
tango-bench = "0.6.0"
# tango-bench = { version = "1.0.0", path="../tango/tango-bench" }

[target.'cfg(target_vendor="apple")'.dependencies]
mach-sys = "0.5"

[target.'cfg(target_os = "linux")'.dependencies]
rustix = { version = "1.0.7", features = ["mm"] }

[lib]
name = "smalloc"

[profile.release]
opt-level = 3
# debug = true
debug = false
codegen-units = 1
lto = "fat"
# lto = "none"
debug-assertions = false
overflow-checks = false
rustflags = ["-C", "target-cpu=native"]

[[bench]]
name = "smallocb"
harness = false
