cargo-features = ["profile-rustflags"]

[workspace]
members = ["smalloc", "hellosmalloc", "simplebench", "find_max_vm_addresses_reservable"]
default-members = ["smalloc"]
resolver = "3"

[workspace.package]
version = "6.0.4"
edition = "2024"

[profile.release]
opt-level = 3
panic = "abort"
debug = false
codegen-units = 1
lto = "fat"
debug-assertions = false
overflow-checks = false
rustflags = ["-C", "target-cpu=native"]

[profile.profiling]
inherits = "release"
debug = true           # Enable debug symbols for profiling
# lto = false           # Disable LTO for faster builds and better symbol info
